@tailwind base;
@tailwind components;
@tailwind utilities;

.boldYellowItalic b,
.boldYellowItalic strong {
  color: #fec903;
  font-style: italic;
}
.boldGreyItalic b,
.boldGreyItalic strong {
  color: #5f5f5f;
  font-style: italic;
}

.groups-slider .slick-list {
  overflow: visible !important;
}

.ais-GeoSearch {
  position: relative;
}

.ais-GeoSearch,
.ais-GeoSearch-map {
  height: 100%;
}

.ap-footer,
.ap-footer-osm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5ch;
}

/* Hide scrollbar for menu */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
